<button style="float:right; color:blue;" onclick="showHide()" type="button">Labor Alert!</button>
<p>Let's welcome our new pups!</p>
<ul>
  <% @lions.each do |lion| %>
  <li><a href="/sealions/<%= lion.id %>"><%= lion.name %></a></li>
  <% end %>
</ul>
<form action="/sealions/new" method="get">
  <input type="submit" value="Add Cub"/>
</form>
