<!DOCTYPE html>
<html>
  <head>
    <title>Sea Lions Den</title>
  </head>
  <body>
    <header>
      <h1>Sea Lions Den</h1>
      <p>Check out all of our new cubs.</p>
      <%= yield %>
    </header>
  </body>
</html>
