<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="javascript/main.js"></script>
    <title><%= @title || "LightSaber" %></title>
    <!-- <title>Sea Lions Den</title> -->
  </head>
  <body>
    <h1><a href="/">Sea Lions Den</a></h1>
    <%= yield %>
  </body>
</html>
