<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @title || "LightSaber" %></title>
    <!-- <title>Sea Lions Den</title> -->
  </head>
  <body>
    <header>
      <%= erb :_error %>
    </header>
    <h1><a href="/">Sea Lions Den</a></h1>
    <%= yield %>
  </body>
    <script src='/javascripts/main.js'></script>
</html>
