<form action="/sealions" method="post">
  <input type="text" placeholder="Name" name="name"/><br>
  <input type="text" value="<%= @lion.location %>" name="location"/><br>
  <input type="text" value="<%= @lion.favorite_food %>" name="favorite_food"/><br><br>
  <input type="submit" value="Update">
</form>
