<form action="/sealions" method="post">
  <input type="text" placeholder="Name" name="name"/><br>
  <input type="text" placeholder="Location" name="location"/><br>
  <input type="text" placeholder="Favorite Food" name="favorite_food"/><br><br>
  <input type="submit" value="Add Sea Lion"/>
</form>
